/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* *****************************************
CSS RESET END
******************************************** */

/* *****************************************
GENERAL STYLING
******************************************** */


h1 {
    color: #00C7B0;
    font-size: 72px;
}

h2 {
    color: #00C7B0;
    font-size: 64px;
}

h3 {
    font-size: 56px;
}

p {
    font-size: 24px;
    margin: 0 auto;
}

body {
    color: #000D12;
}


nav {
    font-size: 36px;
}

nav ul li {
    margin-right: 50px;
    margin: 20px;
    transition: 1s;
}

nav ul li:hover {
    padding-inline: 24px;
    transition: 1s ease-in-out;
}

nav ul li img {
    width: 100px;
    margin: 10px;
}

li {
    list-style: none;
    font-size: 32px;
}

/*********************
 HOMEPAGE STYLING 
*********************/

.homecontainer {
    background-image: url(../images/homepageliquid.png);
    background-size: 1920px;
    background-position: 100px;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
    background-color: #000D12;
}

.main .btn {
    background-color: transparent;
    font-size: 24px;
    outline: 3px solid #00C7B0;
    color: #00C7B0;
    width: 200px;
    height: 70px;
    transition: 1s;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.main .btn:hover {
    background-color: #00C7B0;
    color: white;
    transition: 1s;
}

.main .btn:focus {
    outline: 3px solid white;
}

div.main {
    margin-top: 300px;
    margin-left: 50px;

}

.main h1 {
    color: #00C7B0;
    font-size: 72px;
    width: 300px;
    line-height: 1;
}

.message .btn {
    color: white;
    border: 2px solid white;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    margin-inline: auto;
    font-size: 24px;
    transition: 1s;
}

.message button:hover {
    background-color: #000D12;
    color: #00C7B0;
    transition: 1s;
}

.message {
    width: 200%;
    margin-top: 500px;
    padding-top: 500px;
    padding-bottom: 400px;
    background-image: url(../images/homepageliquid2.jpeg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #000D12;
}


/*********************
PORTFOLIO STYLING 
*********************/

.portfoliocontainer a {
    color: #00C7B0;
    font-size: 32px;
}

.portfoliocontainer {
    text-align: center;
    background-color: #000D12;
    padding-bottom: 300px;
}

/* SECTION BANNERS */

.photographyheader {
    background-image: url(../images/photographybg.png);
    background-blend-mode: screen;
    background-color: #000D12;
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 250px;
    padding-top: 250px;
    font-size: 72px;
    margin-bottom: 100px;
}


.graphicdesignheader {
    background-image: url(../images/graphicdesignbg.png);
    background-size: cover;
    background-color: teal;
    background-blend-mode: overlay;
    padding-block: 250px;
    text-align: left;
    width: 100%;
    margin-bottom: 50px;
}

.graphicdesignheader h1,
.graphicdesignheader h2 {
    margin-inline-start: 5%;
    width: 500px;
}


.webheader {
    background-image: url(../images/webcover.png);
    background-color: #000D12;
    background-blend-mode: color-dodge;
    background-size: cover;
    padding-block: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 72px;
    margin-block: 100px;
}

#web img {
    width: 50%;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.photos img {
    margin-block: 40px;
    margin-inline: 10px;
    border-radius: 20px;
    width: 100%;
}




/******************
ABOUT STYLING 
***************/

.aboutcontainer {
    background-color: #000D12;
    padding-bottom: 100px;
}

.aboutme {
    margin: 50px;
}

.education {
    margin: 50px;
}

.study {
    margin: 50px;
}

.aboutme img {
    float: right;
    margin-inline-start: 20px;
    background-color: #00C7B0;
    border-radius: 200px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.aboutme h1 {
    color: #00C7B0;
}

.education h2 {
    color: #00C7B0;
}

.study h2 {
    color: #00C7B0;
}

/******************
CONTACT STYLING
***************/
.contactcontainer {
    background-image: url(../images/contactbg.png);
    background-blend-mode: color-dodge;
    background-size: 60%;
    background-color: #000D12;
    background-position: 1000px;
    padding-bottom: 100px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.contactform {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contactcontainer button {
    color: #00C7B0;
    transition: 1s;
}

.contactcontainer button:hover {
    background-color: #00C7B0;
    color: #000D12;
    transition: 1s;
}

.contactcontainer h1 {
    color: #00C7B0;
}

.contactcontainer h1,
.contactcontainer h2 {
    margin-left: 1000px;
}

.contactcontainer .btn {
    background-color: transparent;
    font-size: 24px;
    outline: 3px solid #00C7B0;
    color: #00C7B0;
    width: 200px;
    height: 70px;
    transition: 1s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 90%;
    margin-inline: auto;
}

input {
    border-radius: 10px;
    height: 75px;
}

textarea {
    height: 300px;
    border-radius: 10px;
}

/* *****************************************
MOBILE MEDIA QUERIES
******************************************** */
@media only screen and (max-width: 960px) {

    nav ul li {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .homecontainer {
        display: grid;
        place-items: center;
    }

    .main {
        margin-right: 20px;
    }

    .aboutcontainer {
        text-align: center;
    }

    .aboutme img {
        background-color: #00C7B0;
        display: inline-block;
    }

    .porfolionav {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* PORTFOLIO CSS */
    .portfoliocontainer {
        margin: 0 auto;
        text-align: center;
        background-color: #000D12;
    }

    .photographyheader {
        background-image: url(../images/photographybgmobile.png);
        background-size: cover;
        background-position: 25%;
        background-color: #000D12;
        background-blend-mode: screen;
    }

    .webheader {
        background-image: url(../images/webbgmobile.png);
        background-color: #00C7B0;
        background-blend-mode: color-burn;
        background-size: cover;
        height: 512px;
    }

    .contactform {
        width: 90%;
    }
}

/* *****************************************
CSS END
******************************************** */